[user]
	email = tferreira92879@gmail.com
	name  = Tony Ferreira
[core]
	autocrlf = input
	editor   = code-insiders
[status]
	m = merge --no-ff
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[difftool]
	prompt = false
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[pretty]
	prettyprint = %Cred%ad%x09%Cblue%an%x09%x09%C(yellow)%h%x09%Creset%<(75,trunc)%s
[alias]
	# lg = "!source ~/.githelpers && pretty_git_log"
	conflicts = diff --name-only --diff-filter=U
	last = log -1 HEAD
	tags = tag --list
	unstage = reset HEAD --
	stats = shortlog -s -n --all
	st = status
	l = for-each-ref --sort=committerdate --format='%(refname:short)' refs/heads
	ll = for-each-ref --sort=committerdate --format='%(refname:short)'
	lg = log --pretty=format:'%Cred%ad%x09%Cblue%an%x09%x09%C(yellow)%h%x09%Creset%<(75,trunc)%s' --date=short
	fa = fetch --all --prune
	fd = fetch origin development --prune
	pd = pull origin development --no-edit
	dd = diff origin/development --name-status
 	dc = diff --cached
  	amend = commit --amend
	comp = difftool --dir-diff
	ac = !git add -A && git commit -m
	br = !sh -c 'git branch --all | less'
	bq = !sh -c 'clear && git branch | sed /\\*/d | less'
	del = !sh -c 'git l | sed -n 1p | xargs git branch -D'
	conf ="!f() { cat ~/.gitconfig; }; f"
	snapshot= !sh -c 'git stash && git stash apply'
	diffc = "!f() { git log $1..$2 --pretty=prettyprint --date=short; }; f"
